*{
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

.col-1{width: 25%;}
.col-2{width: 50%;}
.col-3{width: 75%;}
.col-4{width: 100%}

body{
    background-color: #34495e;
}

header{
    background-color: #2c3e50;
    padding: 10px;
}

#title-wrapper{
    width: 60%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#container{
    width: 60%;
    margin: 0 auto;
}

input[type="text"]{
    width: 100%;
    padding: 11px;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}

input[type="text"]:focus{
    border: 1px solid #27ae60;
    padding: 10px;
}


input[type="submit"]{
    width: 100%;
    padding: 10px;
}

select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

form{
    padding: 5px;
    margin-top: 20px;
    display: flex;
}

form > div{
    padding: 10px;
}

#title-wrapper h1{
    color: white;
    padding-left: 20px;
}

#logo{
    width: 100px;
    height: 50px;
}

*, ::before, ::after{
    box-sizing: border-box;
}